<% if logged_in? %>
    <%= gravatar_for current_user %>
    <%= render 'shared/post_form' %>
    <h3>Post Feed</h3>
    <%= render 'shared/feed' %>
<% else %>
    <% provide(:pagetype, 'splash') %>

    <div class="jumbotron">
        <%= image_tag("logo.png", alt: "talksome logo") %>
        <h3>This website is incomplete, don't use it yet</h3>
        <div>
            <%= link_to "Sign Up", su_path, class: 'btn' %>
            <%= link_to "Log In", li_path %>
        </div>
    </div>
<% end %>