<% provide(:title, "Log in") %>
<% provide(:pagetype, 'form') %>
<% provide(:backgroundimage, '2') %>

<h1>Log in</h1>

<%= form_for(:session, url: li_path) do |f| %>

    <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>

    <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>

    <%= f.label :remember_me, class: "checkbox" do %>
        <%= f.check_box :remember_me %>
        <f>Remember me</span>
    <% end %>

    <%= f.submit "Log in", class: "btn" %>
<% end %>

<p>New user? <%= link_to "Sign up", su_path %></p>

<%= link_to "Forgot your password?", new_password_reset_path %>