<% provide(:title, @user.name) %>
<section class="user-info">
    <%= gravatar_for @user %>
    <div class="names">
        <h1><%= @user.name %></h1>
        <h2>@<%= @user.username %></h2>
    </div>
    <%= render 'shared/stats' %>
    <%= render 'follow_form' %>
</section>
<%= render 'shared/post_form' %>
<section>
    <% if @user.posts.any? %>
        <ol class="posts">
            <%= render @posts %>
        </ol>
        <%= will_paginate @posts %>
    <% end %>
</section>