<% provide(:title, @user.name) %>
<section class="user-info">
    <%= gravatar_for @user %>
    <h1><%= @user.name %></h1>
    <h2><%= @user.username %></h2>
</section>
<section>
    <% if @user.posts.any? %>
        <h3>Posts (<%= @user.posts.count %>)</h3>
        <ol class="posts">
            <%= render @posts %>
        </ol>
        <%= will_paginate @posts %>
    <% end %>
</section>