<li id="post-<%= post.id %>">
    <%= link_to gravatar_for(post.user, size: 50), post.user %>
    <span class="user"><%= link_to post.user.name, post.user %></span>
    <span class="content"><%= post.content %></span>
    <span class="timestamp">
        <%= time_ago_in_words(post.created_at) %> ago
    </span>
    <% if current_user?(post.user) %>
        <%= link_to "delete", post, method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
</li>