<li id="post-<%= post.id %>">
    <span class="user">
        <%= link_to gravatar_for(post.user, size: 50), post.user %>
        <div>
            <%= link_to post.user.name, post.user %>
            <%= link_to '@' + post.user.username, post.user %>
            <span class="icon-clock"></span>
            <span class="timestamp"><%= time_ago_in_words(post.created_at).gsub('about ','') %></span>
        </div>
    </span>

    <span class="content"><%= post.content %></span>

    <% if current_user?(post.user) %>
        <%= link_to "", post, method: :delete, class: 'icon-delete', data: { confirm: "Are you sure?" } %>
    <% end %>
</li>