<header>
    <div id="nav-button"><span></span><span></span><span></span></div>
    <nav>
        <ul>
            <% if logged_in? %>
                <li><%= link_to "Feed", root_url %></li>
                <li><%= link_to "Account", '' %>
                    <ul>
                        <li><%= link_to "Profile", current_user.username %></li>
                        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                        <li><%= link_to "Log out", lo_path, method: "delete" %></li>
                    </ul>
                </li>
            <% else %>
                <li><%= link_to "Home", root_url %></li>
                <li><%= link_to "Sign Up", su_path %></li>
                <li><%= link_to "Log in", li_path %></li>
            <% end %>
            <li><%= link_to "About", abt_path %></li>
            <li><%= link_to "Contact", h_path %></li>
        </ul>
    </nav>
</header>
