<!DOCTYPE html>
<html>

<head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
</head>

<body class="<%= yield(:pagetype) + ' ' + yield(:colorscheme) %>" style="<% if yield(:backgroundimage).length > 0 %>background-image: url(<%= asset_path "assets/bg/#{yield(:backgroundimage)}.jpg" %>);<% end %>">
    <%= render 'layouts/header' %>
    <article>
        <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <%= yield %>
    </article>
    <%= render 'layouts/footer' %>
</body>

</html>
